.htitle {
  font-size:40px;
  color:blue;
  font-weight:bold;
  text-align:center;
}
.description {
  font-size:16px;
  text-align:center;
  margin-bottom:20px;
}

.form-container {
  text-align:center;
}

#uname {
  margin-right:5.5rem;

}

#pw {
  margin-right:5.75rem;
}

#pw2 {
  margin-right:1.75rem;
}

#em {
  margin-right:7rem;
}

#pn {
  margin-right:3.5rem;
}

#pw-description {
  font-size:8px;
}
